 table, th, td{
            text-align: center;
            border: solid 1px black; border-collapse: collapse;
        }
        table{
            width: 100%;
        }
        table th{
            background-color: rgb(162, 201, 149);
        }
        .second tbody tr:nth-child(2n){
            background-color: beige;
        }
          .second tbody tr:nth-child(odd){
            background-color: rgb(197, 232, 155);
        }